configuration {
    modi:                        "dmenu";
    show-icons:                  true;
    drun-display-format:         "{name}";
}

@import "colors/one.rasi"

* {
    font:                        "JetBrainsMono Nerd Font 9";
}

window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;

    fullscreen:                  false;
    width:                       880px;
    height:                      560px;

    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;

    margin:                      0px;
    padding:                     0px;

    border:                      2px solid;
    border-radius:               14px;
    border-color:                @selected;

    background-color:            @background;

    cursor:                      "default";
}

mainbox {
    enabled:                     true;

    spacing:                     12px;

    margin:                      16px;
    padding:                     0px;

    background-color:            transparent;

    children: [
        "inputbar",
        "listview"
    ];
}

inputbar {
    enabled:                     true;

    spacing:                     0px;

    margin:                      0px;
    padding:                     0px;

    background-color:            transparent;
    text-color:                  @foreground;

    children: [
        "prompt",
        "textbox-prompt-colon",
        "entry"
    ];
}

prompt {
    enabled:                     true;

    padding:                     7px 12px;

    border-radius:               100%;

    background-color:            @selected;
    text-color:                  @selected-fg;
}

textbox-prompt-colon {
    enabled:                     true;

    expand:                      false;

    str:                         "::";

    padding:                     7px 8px;

    background-color:            inherit;
    text-color:                  inherit;
}

entry {
    enabled:                     true;

    padding:                     7px 0px;

    background-color:            inherit;
    text-color:                  inherit;

    cursor:                      text;

    placeholder:                 "Search Wallpapers...";
    placeholder-color:           inherit;
}

listview {
    enabled:                     true;

    columns:                     4;
    lines:                       2;

    cycle:                       true;
    dynamic:                     true;

    scrollbar:                   false;

    layout:                      vertical;
    reverse:                     false;

    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     10px;

    margin:                      0px;
    padding:                     0px;

    border:                      0px solid;

    background-color:            transparent;

    text-color:                  @foreground;

    cursor:                      "default";
}

element {
    enabled:                     true;

    spacing:                     0px;

    margin:                      0px;
    padding:                     4px;

    border:                      2px solid;
    border-radius:               10px;

    border-color:                transparent;

    background-color:            transparent;

    text-color:                  @foreground;

    orientation:                 vertical;

    cursor:                      pointer;

    children: [
        "element-icon"
    ];
}

element normal.normal {
    background-color:            transparent;
    border-color:                transparent;
}

element selected.normal {
    background-color:            transparent;
    border-color:                @selected;
}

element-icon {
    enabled:                     true;

    background-color:            transparent;
    text-color:                  inherit;

    size:                        140px;

    horizontal-align:            0.5;
    vertical-align:              0.5;

    border-radius:               0px;

    cursor:                      inherit;
}

error-message {
    padding:                     12px;

    border:                      2px solid;
    border-radius:               12px;

    border-color:                @selected;

    background-color:            @background;

    text-color:                  @foreground;
}

textbox {
    background-color:            @background;
    text-color:                  @foreground;

    vertical-align:              0.5;
    horizontal-align:            0.0;

    highlight:                   none;
}